/* Background Image */
.ui-page{
	background: url('../images/background/wooden-bg.png') repeat
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype'),
         url('bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html{
	font-family:'BebasNeueRegular';
	height:100%;
}

img{
	vertical-align:bottom;
}

.clear{
	clear:both;
}

/*  */
.btn-big{
	font-family:'BebasNeueRegular';
	height:37px;
	border-radius:2px;
}
.btn-big span{
	position:relative;
	top:6px;
	color:white;
	font-size:22px;
	-moz-text-shadow:rgba(0,0,0,0.48) 1px 1px 0px;
	-webkit-text-shadow:rgba(0,0,0,0.48) 1px 1px 0px;
	text-shadow:rgba(0,0,0,0.48) 1px 1px 0px;
}
.btn-small{
	font-family:'BebasNeueRegular';
	width:40px;
	height:37px;
	border-radius:2px;
}
.btn-small a,
.btn-big a{
	display:block;
	height:100%;
	text-align:center;
	border:none;
	outline:none;
	text-decoration:none !important;
}

.btn-small.disabled .btn-icon{
	background-position:0px -37px;
}
.btn-icon{
	width:100%;
	height:100%;
}

.btn-small.btn-red,
.btn-big.btn-red{
	border:1px solid #791306;
	-moz-box-shadow:0px 3px 0px #750f01, inset 0px 1px 0px rgba(255,255,255,0.17);
	-webkit-box-shadow:0px 3px 0px #750f01, inset 0px 1px 0px rgba(255,255,255,0.17);
	box-shadow:0px 3px 0px #750f01, inset 0px 1px 0px rgba(255,255,255,0.17);
}
.btn-red{
	background:#a91703;
	background: -moz-radial-gradient(center -20px, ellipse cover, rgba(253,43,6,1) 30%, rgba(168,23,3,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center -20px, 0px, center center, 100%, color-stop(30%,rgba(253,43,6,1)), color-stop(100%,rgba(168,23,3,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center -20px, ellipse cover, rgba(253,43,6,1) 30%,rgba(168,23,3,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center -20px, ellipse cover, rgba(253,43,6,1) 30%,rgba(168,23,3,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center -20px, ellipse cover, rgba(253,43,6,1) 30%,rgba(168,23,3,1) 100%); /* IE10+ */
	background: radial-gradient(center -20px, ellipse cover, rgba(253,43,6,1) 30%,rgba(168,23,3,1) 100%); /* W3C */
}
.btn-red.disabled{
	background:#a91703;
}
.btn-small.btn-black,
.btn-big.btn-black{
	border:1px solid #000000;
	-moz-box-shadow:0px 3px 0px #000000, inset 0px 1px 0px rgba(255,255,255,0.17);
	-webkit-box-shadow:0px 3px 0px #000000, inset 0px 1px 0px rgba(255,255,255,0.17);
	box-shadow:0px 3px 0px #000000, inset 0px 1px 0px rgba(255,255,255,0.17);
}
.btn-black{
	background:#242424;
	background: -moz-radial-gradient(center -20px, ellipse cover, rgba(71,71,71,1) 30%, rgba(37,37,37,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center -20px, 0px, center center, 100%, color-stop(30%,rgba(71,71,71,1)), color-stop(100%,rgba(37,37,37,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center -20px, ellipse cover, rgba(71,71,71,1) 30%,rgba(37,37,37,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center -20px, ellipse cover, rgba(71,71,71,1) 30%,rgba(37,37,37,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center -20px, ellipse cover, rgba(71,71,71,1) 30%,rgba(37,37,37,1) 100%); /* IE10+ */
	background: radial-gradient(center -20px, ellipse cover, rgba(71,71,71,1) 30%,rgba(37,37,37,1) 100%); /* W3C */
}
.btn-black.disabled{
	background:#242424;
}

.btn-pattern{
	width:100%;
	height:100%;
	background-image:url('../images/lines-pattern.png');
}


.wrapper-box{
	width:100%;
	padding:16px 0px;
}
.shadowed{
	background:url('../images/shadow.png') repeat-x;
	/*
	-moz-box-shadow:inset 0px 16px 40px rgba(0,0,0,0.75);
	-webkit-box-shadow:inset 0px 16px 40px rgba(0,0,0,0.75);
	box-shadow:inset 0px 16px 40px rgba(0,0,0,0.75);
	*/
}
.whitened{
	background-image:url('../images/wooden-bg.png');
	-moz-box-shadow:inset 0px 1px 0px white;
	-webkit-box-shadow:inset 0px 1px 0px white;
	box-shadow:inset 0px 1px 0px white;
}
.wrapper-box-inner{
	padding:0px 9px;
}

/* Wrapper */
.wrapper { /*p*/
	height:100%;
}


/* Page Header */
.header { /*p*/
	height:60px;
	background: url('../images/header-bg.jpg');
}
#logo {
	margin: 13px 13px;
	height:30px;
}
.home-button{
	margin-top:4px;
}
#header-home-icon{
	background-image:url('../images/home-icon-red.png');
}
.btn-red #header-home-icon{
	background-image:url('../images/home-icon-red.png');
}
.btn-black #header-home-icon{
	background-image:url('../images/home-icon-dark.png');
}

/* Slider */
.slider_wrapper{
	border-radius:3px;
	background:#fbfbfb;
	/* 1px 1px 0px #c59135, -1px -1px 0px #c59135, */
	-moz-box-shadow: 0px 0px 3px rgba(2,3,3,0.75);
	-webkit-box-shadow: 0px 0px 3px rgba(2,3,3,0.75); 
	box-shadow: 0px 0px 3px rgba(2,3,3,0.75); 
}
.slider_images_container{
	height:140px;
	overflow: hidden;
	position:relative;
}
.slider_images_container img{
	position:absolute;
	top:0px;
	left:0px;
}
.slider_title_container{
	position:relative;
	border-radius:0px 0px 3px 3px;
	height:40px;
	background:#1d1d1d;
	-moz-box-shadow:0px 0px 3px rgba(2,3,3,0.75);
	-webkit-box-shadow:0px 0px 3px rgba(2,3,3,0.75);
	box-shadow:0px 0px 3px rgba(2,3,3,0.75);
	font-size:18px;
	color:white;
}
.slider_title{
	position:absolute;
	top:10px;
	left:15px;
}

.slider_nav_wrapper{
	margin-top:15px;
	text-align:center;
}
.dark_pagination a{
	background:url('../images/slider-dark-nav-dot.png') no-repeat;
}
.dark_pagination a .slider_nav_dot{
	background:url('../images/slider-dark-nav-cur-dot.png') 20px 20px no-repeat;
}
.white_pagination a{
	background:url('../images/slider-white-nav-dot.png') no-repeat;
}
.white_pagination a .slider_nav_dot{
	background:url('../images/slider-white-nav-cur-dot.png') 20px 20px no-repeat;
}
.slider_nav_wrapper a{
	display:inline-block;
	margin:0px 2px;
	width:17px;
	height:17px;
}
.slider_nav_dot{
	height:100%;
	width:100%;
}
.slider_nav_wrapper a.active .slider_nav_dot{
	background-position:0px 0px;
}


/* Menu */
.menu{
	margin:0px;
	padding:0px;
	list-style:none;
	border-radius:2px;
	overflow: hidden;
}
.red-menu{
	border:1px solid #791306;
	-moz-box-shadow:0px 5px 0px #750f01;
	-webkit-box-shadow:0px 5px 0px #750f01;
	box-shadow:0px 5px 0px #750f01;
}
.dark-menu{
	border:1px solid black;
	-moz-box-shadow:0px 5px 0px black;
	-webkit-box-shadow:0px 5px 0px black;
	box-shadow:0px 5px 0px black;
}

.menu > li > a{
	display:block;
	background-image: url('../images/lines-pattern.png');
	padding:15px 7px;
	border-top:1px solid rgba(255,255,255,0.12);
}
.red-menu > li > a{
	border-bottom:1px solid #7e0c02;
	background: #a91703;
}
.dark-menu > li > a{
	border-bottom:1px solid black;
	background: #242424;
}

.menu-icon{
	width:25px;
	float:left;
	margin-left:15px;
	margin-right:25px;
}	
.menu li,
.menu li a,
.menu li a:link,
.menu li a:hover{
	color:white;
	text-decoration:none;
	font-size:22px;
}

.sub-menu{
	display:none;
	overflow: hidden;
	/*
	-moz-box-shadow:inset 0px 12px 40px rgba(0,0,0,0.18);
	-webkit-box-shadow:inset 0px 12px 40px rgba(0,0,0,0.18);
	box-shadow:inset 0px 12px 40px rgba(0,0,0,0.18);
	*/
	margin:0px;
	padding:0px;
	list-style:none;
	padding:13px 0px;
	padding-left:75px;
}
.red-menu .sub-menu{
	background:#8a0c01;
}
.dark-menu .sub-menu{
	background:#1a140a;
}

.sub-menu > li{
	margin:13px 0px;
}
.sub-menu > li > a{
	display:block;
}
/* END: Menu */

/* Social Icons */
.social_icons{
	position:relative;
}
.social_icons img{
	height:40px;
}
.social_icon.left{
	float:left;
}
.social_icon.center{
	position:absolute;
	top:16px;
	left:50%;
}
.social_icon.right{
	float:right;
}
.social_icons a{
	display: inline-block;
}
.left_container,
.center_container,
.right_container{
	width:33%;
	border:none;
	outline:none;
	overflow: hidden;
	float:left;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
}

/* END: Social Icons */

.footer{
	height:60px;
	background: url('../images/header-bg.jpg');
	-moz-box-shadow:0px -1px 0px rgba(255,255,255,0.3), 0px -2px 0px black;
	-webkit-box-shadow:0px -1px 0px rgba(255,255,255,0.3), 0px -2px 0px black;
	box-shadow:0px -1px 0px rgba(255,255,255,0.3), 0px -2px 0px black;
}

/* Switcher */
.switcher_container{
	width:320px;
	margin:0px auto;
	margin-top:15px;
	font-size:18px;
	color:#3f3f3f;
	-moz-text-shadow:rgba(0,0,0,0.5) 1px 1px 0px;
	-webkit-text-shadow:rgba(0,0,0,0.5) 1px 1px 0px;
	text-shadow:rgba(0,0,0,0.5) 1px 1px 0px;
}
.switcher{
	background:url('../images/switcher-track.png');
	position:relative;
	width:67px;
	height:30px;
	margin:0px auto;
}
.switcher .handle{
	height:30px;
}
.switcher_text{
	margin-top:4px;
}



/* Styles */
.styles-big-btn{
	margin-top:10px;
}
.syles-left{
	margin:5px 0px;
	width:40%;
	float:left;
}
.syles-left > *{
	float:left;
	margin-right:10px;
}
.syles-right{
	margin:5px 0px;
	width:40%;
	float:right;
}
.syles-right > *{
	float:right;
	margin-left:10px;
}
.styles_pagination{
	width:100%;
}
.style-comment{
	margin:10px 0px;
}
/* END OF: Styles */


/* POST */

.black-box{
	margin-bottom:12px;
	position:relative;
	border-radius:5px;
	background: url('../images/header-bg.jpg');
	/*
	-moz-box-shadow:0px 0px 2px black,inset 0px 3px 12px black;
	-webkit-box-shadow:0px 0px 2px black,inset 0px 3px 12px black;
	box-shadow:0px 0px 2px black,inset 0px 3px 12px black;
	*/
	font-size:15px;
	color:white;
	overflow: hidden;
	font-family:Arial, Helvetica, sans-serif;
}
.black-box-content{
	padding:12px;
}
h1 a,h2 a, h3 a, h4 a{
	text-decoration:none !important;
}
h1{
	-moz-text-shadow:white 1px 1px 0px;
	-webkit-text-shadow:white 1px 1px 0px;
	text-shadow:white 1px 1px 0px;
	font-family:'BebasNeueRegular';
	font-size:28px;
	font-weight:normal;
	margin:0px;
}
h2{
	-moz-text-shadow:white 1px 1px 0px;
	-webkit-text-shadow:white 1px 1px 0px;
	text-shadow:white 1px 1px 0px;
	font-family:'BebasNeueRegular';
	font-size:25px;
	font-weight:normal;
	margin:0px;
}
h3{
	-moz-text-shadow:white 1px 1px 0px;
	-webkit-text-shadow:white 1px 1px 0px;
	text-shadow:white 1px 1px 0px;
	font-family:'BebasNeueRegular';
	font-size:20px;
	font-weight:normal;
	margin:0px;
}
h4{
	-moz-text-shadow:white 1px 1px 0px;
	-webkit-text-shadow:white 1px 1px 0px;
	text-shadow:white 1px 1px 0px;
	font-family:'BebasNeueRegular';
	font-size:20px;
	font-weight:normal;
	margin:0px;
}
.black-box h1,
.black-box h2,
.black-box h3,
.black-box h4{
	-moz-text-shadow:none;
	-webkit-text-shadow:none;
	text-shadow:none;
}
.black-box-content h3{
	color:#e5ae4e;
}
.black-box-content img{
	border-top:1px solid white;
	-moz-box-shadow:0px 0px 3px black,-1px -1px 0px black,1px 1px 0px black;
	-webkit-box-shadow:0px 0px 3px black,-1px -1px 0px black,1px 1px 0px black;
	box-shadow:0px 0px 3px black,-1px -1px 0px black,1px 1px 0px black;
	 
	border-radius:2px;
	width:100%;
	max-width:290px;
	margin:13px 0px;
}
.horizontal-line{
	font-size:1px;
	line-height:1px;
	height:1px;
	background:black;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.08);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.08);
	box-shadow:0px 1px 0px rgba(255,255,255,0.08);
	width:120%;
	position:relative;
	left:-10%;
	margin:6px 0px;
}
blockquote{
	margin:0px;
	padding:0px;
	padding-left:35px;
	font-size:15px;
	line-height:24px;
	background:url('../images/blockquotes.png') 0px 5px no-repeat;
}
input, textarea{
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	font-size:17px;
	border-radius:5px;
	margin-bottom:17px;
	display:block;
	background:white url('../images/contact-fields-bg.png') !important;
	padding:10px 2% !important;
	width:94% !important;
	border:2px solid black;
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.3), inset 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.3), inset 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow:0px 1px 0px rgba(255,255,255,0.3), inset 0px 1px 2px rgba(0,0,0,0.3);
}
textarea{
	height:170px !important;
}

.black-box-content a,
.black-box-content a:link,
.black-box-content a:visited{
	color:white;
	text-decoration:underline;
}
.black-box-content a:hover{
	text-decoration:none;
}

.black-box-content ul{
	padding:0px;
	padding-left:18px;
	list-style:url('../images/checkmark.png');
}
.black-box-content ul li{
	margin:7px 0px;
}

.black-box-content .images{

}
.black-box-content .images .image img{
	margin:0px;
}
.black-box-content .images .image{
	float:left;
	width:29%;
	margin:10px 0px;
	margin-right:6.5%;
	padding:0px;
}
.black-box-content .images .image.last{
	margin-right:0px;
}

.box-post a,
.box-post a:link,
.box-post a:visited{
	text-decoration:none;
}
.post-details{
	border-radius:5px;
	border:1px solid black;
	height:35px;
	background:url('../images/background/wooden-bg2.png');
	/*
	-moz-box-shadow:inset 0px 3px 16px black;
	-webkit-box-shadow:inset 0px 3px 16px black;
	box-shadow:inset 0px 3px 16px black;
	*/

	font-family:'BebasNeueRegular';
	font-size:17px;
	color:#3f3f3f;
	-moz-text-shadow:rgba(0,0,0,0.48) 1px 1px 0px;
	-webkit-text-shadow:rgba(0,0,0,0.48) 1px 1px 0px;
	text-shadow:rgba(0,0,0,0.48) 1px 1px 0px;
}
.post-details img{
	margin-right:6px;
	width:15px;
}
.post-details .detail span{
	position:relative;
	bottom:2px;
}
.post-details .comments{
	float:left;
	margin-top:11px;
	margin-left:11px;
}
.post-details .date{
	float:right;
	margin-top:11px;
	margin-right:11px;
}

.post-comment h2{
	margin-top:10px;
	margin-bottom:16px;
}
.form-submit{
	width:50%;
	float:right;
	margin-bottom:5px;
}


/* ADS */
.ads{
	margin-top:12px;
	float:left;
	width:100%;
}
.ads-left{
	float:left;
	width:50%;
}
.ads-right{
	float:right;
	width:50%;
}
.ad2.left{
	margin-right:10px;
}
.ad2.right{
	margin-left:10px;
}
.ad2{
	background:white;
	border-radius:2px;
	padding:5px;
	border:1px solid #c8b79f;
}
.ad2 img{
	width:100%;
	max-width:300px;
	vertical-align: bottom;
}

/* POST COMMENTS */
.post-comments{
	margin-bottom:20px;
}
.post-comments h2{
	margin-top:18px;
	margin-bottom:20px;
	font-size:25px;
	color:black;
	-moz-text-shadow:rgba(255,255,255,1) 1px 1px 1px;
	-webkit-text-shadow:rgba(255,255,255,1) 1px 1px 1px;
	text-shadow:rgba(255,255,255,1) 1px 1px 1px;
}
.dark-comment .comment-wrapper{
	color:white;
	background:#242424;
}
.white-comment .comment-wrapper{
	color:black;
	background:white;
}
.comment-wrapper{
	position:relative;
	border-radius:3px;
	border:1px solid #c8b79f;
	padding:10px;
	-moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.8);
	-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,0.8);
	box-shadow:inset 0px 1px 0px rgba(255,255,255,0.8);
}
.comment-reply{
	position:absolute;
	height:18px;
	width:16px;
	top:10px;
	right:10px;
}
.comment-reply a{
	display:block;
	height:100%;
}
.dark-comment .comment-reply{
	background:url('../images/reply-white.png') no-repeat;
}
.white-comment .comment-reply{
	background:url('../images/reply-dark.png') no-repeat;
}
.comment-info{
	height:40px;
	overflow: hidden;
}
.comment-thumb{
	width:36px;
	height:36px;
	border:2px solid black;
	overflow:hidden;
	float:left;
}
.white-comment .comment-thumb{
	border:2px solid black;
}
.dark-comment .comment-thumb{
	border:2px solid white;
}

.comment-thumb img{
	height:40px;
}
.comment-details{
	overflow: hidden;
	margin-left:6px;
	float:left;
}
.comment-name{
	width:100%;
	height:22px;
	font-size:20px;
}
.comment-date{
	width:100%;
	margin-top:3px;
	height:16px;
	font-size:13px;
}
.comment-date .comment-date-icon{
	float:left;
	width:11px;
	height:11px;
	margin-right:10px;
	display:inline;
	position:relative;
	top:2px;
	left:2px;
}
.white-comment .comment-date .comment-date-icon{
	background:url('../images/comment-time.png');
}
.dark-comment .comment-date .comment-date-icon{
	background:url('../images/comment-time-white.png');
}
.comment-content{
	margin-top:15px;
	margin-bottom:10px;
	font-size:13px;
	font-family:Helvetica,Arial,sans-serif;
}
.comment > .comment{
	width:85%;
	float:right;
	margin:10px 0px;
}

/* END OF: Post */

/* Categories */
.categories{
	height:25px;
	position:relative;
}
.categories .wrapper-box-inner{
	overflow:hidden;
}
.categories .arrow{
	bottom:8px;
	position:absolute;
	width:21px;
	height:11px;
	background:url('../images/arr.png') no-repeat;
}
.categories a{
	display:inline-block;
	margin:0px 15px;
	font-size:23px;
	color:white;
	text-decoration:none;
	-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	-webkit-text-shadow:1px 1px 1px rgba(0,0,0,0.5);
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.categories-container{
	padding:0px 9px;
	position:relative;
	right:9px;
	width:100%;
}
.categories-scroll{
	height:50px;
	right:0px;
	position:relative;
	width:9000px;
}
.categories-scroll > div{
	float:left;
}
.categories a.active{
	color:black;
	-moz-text-shadow:1px 1px 0px rgba(255,255,255,0.75);
	-webkit-text-shadow:1px 1px 0px rgba(255,255,255,0.75);
	text-shadow:1px 1px 0px rgba(255,255,255,0.75);
}
/* END: Categories */


/* CONTACT */
.map_location_env{
	overflow: hidden;
	width:100%;
	height:140px;

	border-top:1px solid rgba(255,255,255,0.6);
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.75),-1px -1px 0px #c59135,1px 1px 0px #c59135;
	-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.75),-1px -1px 0px #c59135,1px 1px 0px #c59135;
	box-shadow:0px 0px 3px rgba(0,0,0,0.75),-1px -1px 0px #c59135,1px 1px 0px #c59135;
	 
	border-radius:2px;
}


/* Contact Form */
.form-cancel{
	margin-top:8px;
	width:48%;
	float:left;
	overflow: hidden;
}
.form-cancel img{
	float:left;
	margin:0px;
	margin-right:6px;
	width:18px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:none;
}
.form-cancel span{
	float:left;
	position:relative;
	bottom:2px;
	font-family:'BebasNeueRegular';
	font-size:22px;
}
.form-cancel a,
.form-cancel a:link,
.form-cancel a:visited{
	text-decoration:none;
}


/* GALLERY */
.gallery_wrapper{
	margin-bottom:20px;
	border-radius:3px;
	background:#fbfbfb;
	/* 1px 1px 0px #c59135, -1px -1px 0px #c59135, */
	-moz-box-shadow: 0px 0px 3px rgba(2,3,3,0.75);
	-webkit-box-shadow: 0px 0px 3px rgba(2,3,3,0.75);
	box-shadow: 0px 0px 3px rgba(2,3,3,0.75); 
}
.gallery_images_container{
	overflow: hidden;
	position:relative;
}
.gallery_images_container img{
	vertical-align:bottom;
	position:absolute;
	width:100%;
	max-width:500px;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
}
.gallery_title_container{
	position:relative;
	border-radius:0px 0px 3px 3px;
	height:40px;
	background:#1d1d1d;
	-moz-box-shadow:0px 0px 3px rgba(2,3,3,0.75);
	-webkit-box-shadow:0px 0px 3px rgba(2,3,3,0.75);
	box-shadow:0px 0px 3px rgba(2,3,3,0.75);
	font-size:18px;
	color:white;
}
.gallery_title{
	position:absolute;
	top:10px;
	left:15px;
}

/* Gallery Slider */
.gallery-nav{
	height:60px;
	position: relative;
}
.gallery-nav .arrow{
	top:-15px;
	float:left;
	width:100%;
	height:25px;
	background:url('../images/arr.png') no-repeat;
}
.gallery-thumbs{
	height:91px;
	float:left;
	overflow:hidden;
	width:100%;
	right:10px;
	padding-right:20px;
	position:relative;
	top:-26px;
}
.gallery-thumb-scroller{
	height:61px;
	position:relative;
	padding-left:10px;
	width:50000px;
}
.gallery-thumb{
	float:left;
	margin:0px 6px;
	overflow: hidden;
	width:80px;
	height:60px;
	border-top:1px solid rgba(255,255,255,0.6);
	/*
	-moz-box-shadow:0px 0px 3px rgba(0,0,0,0.75),-1px -1px 0px #c59135,1px 1px 0px #c59135;
	-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.75),-1px -1px 0px #c59135,1px 1px 0px #c59135;
	box-shadow:0px 0px 3px rgba(0,0,0,0.75),-1px -1px 0px #c59135,1px 1px 0px #c59135;
	 */
	border-radius:2px;
	background:white;
}
.gallery-thumb a{
	display: inline-block;
}
.gallery-thumb img{
	height:60px;
}


.ui-loader{
	width:100px !important;
	height:20px !important;
	margin-left:-80px !important;
	background:url('../images/header-bg.jpg');
	border-radius:4px;
	border:1px solid #777;
	opacity:1 !important;
	box-shadow:0px 0px 4px rgba(0,0,0,0.6),inset 2px 2px 4px rgba(0,0,0,0.6);
}
.ui-loader h1{
	font-size:18px;
	color:white;
	text-shadow:none !important;
}
.ui-loader .ui-icon{
	display:none !important;
}